@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --color-one:#103178;
    --color-two:#FFC800;
    --color-text:#5B6CA9;

    --font: "Inria Serif", serif;
}
* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    color:var(--color-text);

}

a {
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


